section.custom_logo_header{
    padding-bottom: 2.5rem;
    background-color: #20204F;
    .current_url{
        margin-left: -3rem;
        ul{
            li{
                display: inline-block;
                text-decoration: none;
                padding-right: 1rem;
                &::before{
                    content: "/";
                    padding-right: 1rem;
                    color: $primary;
                }
                &:first-child::before{
                    content: "";
                }
                &:last-child{
                    color: #C3C3E5;
                }
            }
        }
    }
    .description{
        .content1{
            padding-top: 1rem;
        }
        .content2{
            padding-top: 2rem;
        }
        .logo_header_contents{
            h5{
                padding-top: 2rem;
                font-size: 24px;
            }
            ul{
                padding: 0 !important;
                list-style: none;
                li{
                    font-size: 18px;
                    position: relative;
                    padding: 0 0 0.5rem 2rem;
                    &::before{
                        content: "";
                        mask-image:  $check_badge_url; 
                        -webkit-mask-image: $check_badge_url;
                        background-color: #D41367;
                        width: 20px;
                        height: 20px;
                        margin-top: 0.1rem;
                        margin-right:0.4rem;
                        position: absolute;
                        top: 0;
                        left: 0;    
                    }
                }
            }
        }
        padding-right: 80px;
        margin-top: 1rem;
        h1, h5{
            color: white;
        }
        p{
            font-size: 21px;
            font-weight: 300;
        }
        button{
            margin-top: 1rem;
            width: 100%;
        }
    }
    .design_authors{
        a{
            color:white;
        }
        .left-content{
            margin-top: 110px;
            .design_product1{
                max-width: 180px;
            }
            .design_product2{
                max-width: 180px;
                padding-top: 30px;
                margin-right: 30px;
            }    
        }
        .right-content{
            margin-top: 50px;
            .design_product3{
                max-width: 180px;
                margin-left: 30px;
            }
            .design_product4{
                max-width: 180px;
                padding-top: 55px;
                margin-right: 40px;
            }
        }

        .design_author{
            a{
                text-decoration: underline;
            }
            text-align:right;
        }	
        margin-bottom: 27px;
    }
}

section.inspired_logo_design{
    margin-top: 3.75rem;
    color:#111317;
    .inspired_items{
        margin-top: 2.5rem;
    }
    .inspired_second{
        margin-top: 1.25rem;
    }
    .card{
        border: none;
        .card-footer{
            border: 1px solid #E7E9EB;
            border-radius: 2px;
            p{
                color: $description-color;
                font-weight: 500;
            }
        }
    }
    .inspired_buttons{
        margin-top: 2.5rem;
        a{
            color:$link-color;
        }
        p{
            font-weight: 500;
        }
    }
}

section.best_logo_design{
    color:#111317;
    background-color:#F2F5FA;
    margin-top: 2.5rem;
    padding-bottom: 3rem;
    h3{
        padding-top: 3.75rem;	
    }
    h6{
        font-size: 18px;
    }
    .scales_introduce{
        font-size: 18px;
        font-style: italic;
        font-weight: 500;
    }
    .scales_contents{
        margin-top: 3.75rem;
        button{
            margin-top: 3.75rem;
        }
        .scale{
            position: relative;
            .description{
                p{
                    font-weight: 500;
                }
            }
        }
    }
    p{
        color:$description-color;
    }
    .image{
        position: absolute;
        top: 0.5rem;
        left: 0;
    }
    .description{
        margin-left: 100px;
    }
    #scales-slider{
        color:$link-color;
        margin: 0 -10px;
        .splide__pagination {
            margin-top: auto;
        }
    }
}

section.better_logo_design{
    margin-top: 2rem;
    
    color:#111317;
    h3{
        padding-top: 3.75rem;
    }
    h6{
        font-size: 18px;
    }
    .work_contents{
        padding: 0 2rem 0 9rem;
        .col-lg-1{
            p{
                font-size: 60px;
                color: $link-color;
                text-align: center;
                padding: 2rem 0;
                font-weight: 100;
                font-family: monospace;
            }
        }
        margin-top: 5rem;
        .work_description{
            font-weight: 500;
            margin-top:1.75rem;
            margin-bottom: 3.75rem;
            p{
                color:$description-color;
            }
        }
    }
    a{
        color:$link-color;
    }
}

section.logo_design_contest{
    color: black;
    background-color: #F2F5FA;
    .contest_items{
        padding: 3.75rem 0;
        .contest_item{
            position: relative;
            padding-bottom: 50px !important;
            padding: 2.5rem 0 0 0;
            border-bottom: 1px solid #E7E9EB;
            .contest_image_side{
                position: absolute;
            }
            .description_side{
                .contest_description{
                    .category_description{
                        display: inline-block;
                    }
                    .category{
                        padding-left: 1rem !important;
                        display: inline-block;
                    }
                }
                .contest_properties{
                    list-style: none;
                    li{
                        margin-left: -2rem;
                    }

                    li.design_count{
                        &::before{
                            content: "";
                            width: 16px !important;
                            height: 16px !important;
                            float: left !important;
                            background-color: black;
                            margin-right: 0.5rem;
                            margin-top: 0.2rem;
                            mask-image:  $contest_design_count_url !important; 
                            -webkit-mask-image: $contest_design_count_url !important;
                        }
                    }
                    li.design_time{
                        &::before{
                            content: "";
                            width: 16px !important;
                            height: 16px !important;
                            float: left !important;
                            background-color: black;
                            margin-right: 0.5rem;
                            margin-top: 0.2rem;
                            mask-image:  $contest_design_time_url !important; 
                            -webkit-mask-image: $contest_design_time_url !important;
                        }                        
                    }
                    li.design_feedback{
                        &::before{
                            content: "";
                            width: 16px !important;
                            height: 16px !important;
                            float: left !important;
                            background-color: black;
                            margin-right: 0.5rem;
                            margin-top: 0.2rem;
                            mask-image:  $contest_design_feedback_url !important; 
                            -webkit-mask-image: $contest_design_feedback_url !important;
    
                        }
                    }
                }
                .category{
                    margin: 0 !important;
                    li{
                        text-decoration: none;
                        list-style: none;
                        display: inline-block;
                        padding-right: 1rem;
                    }
                }
                .contest_category{
                    ul{
                        margin-left:-2rem;
                        li{
                            text-decoration: none;
                            list-style: none;
                            display: inline-block;
                            padding-right: 1rem;
                        }
                    }
                }
            }
        }
    }
    .logo_view_btn{
        padding: 0 0 2.5rem 0;
    }
}

section.logo_design_qa{
    margin-top:3.75rem;
    padding-bottom: 3.5rem;
    color:#707070;
    .accordion{
        padding-left: 15rem;
        padding-right: 15rem;
        .accordion-item{
            border: none !important;
            border-bottom: 1px solid rgba(0,0,0,0.125) !important;
            button.accordion-button{
                &::after{
                    background-image: none;
                    -webkit-mask-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
                    mask-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
                    transform: scale(.7) !important;
                    background-color:$link-color !important;
                }
            }
            button.accordion-button:not(.collapsed){
                color: #111317 !important;
                &::after{
                    background-image: none;
                    -webkit-mask-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
                    mask-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");;
                    background-color: $link-color !important;    
                }
            }
        }    
    }    
}