/***** Wrapper *****/
 
.wrapper {
    display: block;
}
 
/***** Sidebar *****/
 
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -255px;
    z-index: 999;
    background: #fff;
    color: #333;
    transition: all .3s;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
    text-align: left;
    &.active{
        left: 0;
    }
}
 
/***** Content *****/
 
.content {
    width: 100%;
    transition: all 0.3s;
}

/***** Dark overlay *****/
 
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(51, 51, 51, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all .5s ease-in-out;
    &.active{
        display: block;
        opacity: 1;
    }
}

.open-menu {
    position: fixed;
    padding-left: 1rem;
    top: 20px;
    left: 10px;
    z-index: 997;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
    &.btn-customized,
    &.btn-customized:hover, 
    &.btn-customized:active, 
    &.btn-customized:focus, 
    &.btn-customized:active:focus, 
    &.btn-customized.active:focus,
    &.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
    &.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
        box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
    }
}
  
/* Style for all buttons with the class btn-customized */
 
a.btn-customized {
    margin-left: 5px;
    margin-right: 5px;
    padding: .75rem 1.5rem;
    background: #f35b3f;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
    &:hover, 
    &:active, 
    &:focus, 
    &:active:focus, 
    &.active:focus,
    &.btn.btn-primary:not(:disabled):not(.disabled):active,
    &.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
        outline: 0;
        background: #cd533d; /* for browsers that don't recognize rgba */
        background: rgba(243, 91, 63, 0.7);
        border: 0;
        color: #fff;
        box-shadow: none;
    }
}

.dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all .3s;
    background: #D2562C;
    border-radius: 4px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    color: #fff;
    &:hover,
    &:focus {
        background: #D2562C;
        color: #fff;
    }
}
 
.sidebar {
    .nav_list {
        margin-top: 2.5rem;
        padding: 10px 0;
        transition: all .3s;
        .side_projects, .side_categories, .side_contests,
        .side_designer, .side_discover{
            &{
                color: #263442;
                path{
                    fill: currentColor !important;
                }    
            }
            &.active{
                background-color: #D2562C;
                color: #fff;
                path{
                    fill: currentColor !important;
                }
            }
        }
        
        a{
            display: block;
            padding: 1.3rem;
            border: 0;
            color: #333;
            &:active, &:focus{
                outline: 0;
                background: #D2562C;
                color: #fff;            
            }
            i{
                margin-right: 5px;
            }
        }
        .nav_name{
            padding: 1rem !important;
        }
        &.active > a,
        &.active > a:hover,
        &.actvie > a:focus{
            outline: 0;
            background: #D2562C;
            color: #fff;
        }
    }
} 
 
.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.sidebar .to-top {
    padding: 20px;
    text-align: center;
}
 
a.btn-customized-3 {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: .75rem 1.5rem;
    background: #D2562C;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
    &:hover, 
    &:active, 
    &:focus, 
    &:active:focus, 
    &.active:focus,
    &.btn.btn-primary:not(:disabled):not(.disabled):active,
    &.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
        outline: 0;
        background: #D2562C;
        border: 0;
        color: #fff;
        box-shadow: none;
    }
    i {
        margin-right: 5px;
    }    
}
 
 
.sidebar .dark-light-buttons {
    padding: 10px 20px 30px 20px;
    text-align: center;
}
 
a.btn-customized-4 {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0 3px;
    padding: 0;
    background: #D2562C;
    border: 0;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
    text-indent: -999999px;
    &.btn-customized-dark {
        background: #222;
        &:hover, 
        &:active, 
        &:focus, 
        &:active:focus, 
        &.active:focus,
        &.btn.btn-primary:not(:disabled):not(.disabled):active,
        &.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
            outline: 0;
            background: #D2562C;
            border: 0;
            color: #fff;
            box-shadow: none;
        }
    }
    &.btn-customized-light {
        background: #fff;
        &:hover, 
        &:active, 
        &:focus, 
        &:active:focus, 
        &.active:focus,
        &.btn.btn-primary:not(:disabled):not(.disabled):active,
        &.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
            outline: 0;
            background: #D2562C;
            border: 0;
            color: #fff;
            box-shadow: none;
        }
    }
}